<%= form_tag({action: :convert}, multipart: true) do %>
    <div id="file-upload">
      Upload original image: <%= file_field_tag 'original_image' %>
    </div>
    <div id="choose-format">
      Choose format: <%= select_tag 'desired_format', '<option>png</option><option>jpg</option>'.html_safe %>
    </div>
    <%= submit_tag 'Convert', id: 'submit' %>
<% end %>
